a:hover{
    text-decoration: none;
}  
.section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section h2.section-head{
    color:#000;
    text-align: center;
    margin-bottom: 40px;
}
.section h2.section-head:after{
    background-color: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin:20px auto;
}
#header{
    color:#fff;
    background-color: #e74c3c;
}

#logo{
    font-size: 2rem;
    margin-top: 5px ;
}
#menu{
    list-style-type: none;
    margin:0;
    padding:0;
}

#menu li{
    display: inline-block;
}

#menu a{
    color:#fff;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
}

#menu a:hover{
    background-color: #c0392b;
}

#banner{
    background: url(./images/banner.jpg) no-repeat 0 0;
    background-size: cover;
}
.banner-title{
    padding: 5rem;
}
.banner-title h1{
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.banner-title p.lead{
    color:#fff;
    background-color:rgba(255, 76,60,0.7);
    padding:10px;
}

.service-box{
    text-align: center;
}
.service-box i.fa{
    color: #e74c3c;
    font-size: 70px;
    margin-bottom: 15px;
}